#holopic{
    width: 100%;
    height: auto;
}

#aboutus{
    font-family: 'Noto Sans', sans-serif;
    color: #BBD8F2;
}

.c{
    text-align: center;
}

.iframeview{
    width: 80%;
    height: auto;
}

@media(max-width:768px){
    #aboutus{
        font-size: 36px;
    }
}
@media(min-width:768px){
    #aboutus{
        font-size: 72px;
    }
}

#name{
    font-size: 100px;
    font-weight: bold
    !important;
}

