@media(max-width:767px){
    .iframe1{
        width: 100%;
        height: 600px
    }
}
@media(min-width:300px){
    .iframe1{
        width: 100%;
        height: 300px
    }
}

.f50{
    width: 50%;
    height: auto;
}

.c{
    text-align: center;
}

.f75{
    width: 75%;
    height: auto;
}

.f1001{
    width: 100%;
    height: auto;
}